.ColorProgra {
    background-color: red;
}

.ColorTutoria {
    background-color: turquoise;
}

.ColorSistemes{
    background-color: brown;
}

.ColorWeb {
    background-color: blue;
}

.ColorEIE {
    background-color: green;
}

.ColorFOL {
    background-color: darkblue;
}

.ColorERP {
    background-color: darkgreen;
}